// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
    color: $white-cl;
}
.--black-cl {
    color: $black-cl;
}
.--blue-cl {
    color: $blue-cl;
}
//border
.--border-bottom {
    border-bottom: 1px solid $black-line;
}
.overlay {
    @include fullscreen(true);
    background: rgba(0, 0, 0, 0.75);
    z-index: var(--z-fixed);
    @include visible(0);
    @include transition($cubic $t);
    &.active {
        @include visible(1);
        @include transition($cubic $t);
    }
}
