// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}

// colors (tuỳ chỉnh)
.--white-cl {
    color: $white-cl;
}
.--black-cl {
    color: $black-cl;
}
.--blue-cl {
    color: $blue-cl;
}
//border
.--border-bottom {
    --color: #000000;
    border-bottom: 1px solid var(--color);
    &.--yellow {
        --color: #fbdb01;
    }
}
.text-center {
    text-align: center !important;
}
.d-grid {
    display: grid !important;
}
.justify-items-center {
    justify-items: center !important;
}
.overlay {
    @include fullscreen(true);
    background: rgba(0, 0, 0, 0.75);
    z-index: var(--z-fixed);
    @include visible(0);
    @include transition($cubic $t);
    &.active {
        @include visible(1);
        @include transition($cubic $t);
    }
}
.welcome {
    padding-block: 5.4rem;
    &__title {
        @include text(2rem, pnb, 3rem, $gray-text, uppercase);
        margin-bottom: 1.7rem;
        letter-spacing: 0.48rem;
    }
    &__subtitle {
        @include text(1.4rem, pnl, 2.2rem, $main-text, uppercase);
        margin-bottom: 1.7rem;
        letter-spacing: 0.32rem;
    }
    &__desc {
        @include text(1.2rem, arial, 2.2rem, $main-text, none);
        letter-spacing: -0.4px;
    }
    &.--bottom-line {
        --color: #000000;
        position: relative;
        &::after {
            position: absolute;
            bottom: 0;
            content: "";
            width: 32rem;
            height: 1px;
            background-color: var(--color);
        }
        &.--yellow {
            --color: #fbdb01;
        }
    }
}
.allworks {
    padding-block: 4rem;
    &__tabs {
        @include mid(true);
        gap: 4rem;
        &-item {
            a {
                @include text(1.2rem, pnsb, 3rem, $hide-text, uppercase);
                letter-spacing: 0;
            }
            &.active {
                a {
                    color: $main-text;
                }
            }
        }
    }
    &__content {
        &-panel {
            margin-left: -1rem !important;
            margin-right: -1rem !important;
            .item {
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 3.6rem;
            }
        }
    }
}
.card {
    &__img {
        display: block;
        position: relative;
        width: 100%;
        aspect-ratio: 313/190;
        overflow: hidden;
        margin-block: 1rem;
        img {
            @include midimg(100%);
        }
    }
    &__content {
        text-align: center;
        padding-block: 1.8rem;
        &-title {
            position: relative;
            @include text(1.2rem, pnb, 3rem, $main-text, uppercase);
            letter-spacing: 0;
            padding-bottom: 0.6rem;
            &::after {
                content: "";
                position: absolute;
                bottom: 0.3rem;
                @include transform(translateX(-50%));
                width: 1.6rem;
                height: 3px;
                background-color: $yellow;
            }
        }
        &-c,
        &-p,
        &-d {
            @include text(1.2rem, pnr, 2rem, $main-text, none);
            letter-spacing: 0;
        }
    }
}
