.aboutpage {
    .about {
        position: relative;
        margin-block: var(--height-header) 18.4rem;
        &__bg {
            @include fullscreen;
            z-index: -1;
            overflow: hidden;
            &-img {
                @include midimg(100%);
            }
        }
        &__container {
            &-content {
                padding: 9rem 2rem 7.3rem;
                .title {
                    @include text(3.6rem, pnb, 5.8rem, $yellow, uppercase);
                    letter-spacing: 0.96rem;
                }
                .desc {
                    @include text(1.8rem, pnl, 4rem, #e4e4e4, none);
                    letter-spacing: -0.4px;
                    max-width: 86.7rem;
                    margin-top: 1.4rem;
                }
                .about_booking {
                    margin-top: 4rem;
                    .allworks__booking {
                        position: initial;
                        &-text {
                            color: #e9e9ea;
                            text-align: left;
                        }
                        &-logo {
                            background-color: $yellow;
                            color: $main-text;
                            order: -1;
                        }
                    }
                }
            }
        }
        @include sm {
            margin-block: var(--height-header) 26rem;
            &__container {
                &-content {
                    padding: 3rem 2.6rem 9.4rem;
                    .title {
                        font-size: 2.8rem;
                    }
                    .desc {
                        font-size: 1.6rem;
                        line-height: 3.4rem;
                        max-width: 100%;
                        margin-top: 0;
                    }
                    .about_booking {
                        margin-top: 4.5rem;
                    }
                }
            }
        }
    }
}
