.contactpage {
    .contact {
        position: relative;
        margin-block: var(--height-header) 0;
        padding-block: 9.6rem 9rem;
        &__bg {
            @include fullscreen;
            z-index: -1;
            overflow: hidden;
            &-img {
                @include midimg(100%);
            }
        }
        &__content {
            &-logo {
                @include mid(true);
                .img {
                    position: relative;
                    width: 10.2rem;
                    aspect-ratio: 102/128;
                    overflow: hidden;
                    img {
                        @include midimg(100%);
                    }
                }
            }
            &-text {
                display: flex;
                justify-content: center;
                gap: 6rem;
                @include text(1.2rem, pnr, 3rem, #f1f1f1, uppercase);
                letter-spacing: 0.16rem;
                padding-top: 3rem;
                .left {
                    text-align: right;
                }
                .right {
                    .tel {
                        display: flex;
                        gap: 3.5rem;
                        margin-top: 3.2rem;
                    }
                }
            }
            &-map {
                margin: 3rem 1rem;
                .iframe {
                    position: relative;
                    width: 100%;
                    padding-top: 45rem;
                    overflow: hidden;
                    iframe {
                        @include midimg(100%);
                    }
                }
            }
        }
        @include sm {
            padding-block: 11.5rem 13rem;
            &__content {
                &-logo {
                    display: none;
                }
                &-text {
                    flex-direction: column;
                    gap: 0;
                    padding-top: 0;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    .left,
                    .right {
                        text-align: center;
                    }
                    .right {
                        order: -1;
                        .tel {
                            justify-content: center;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .footer {
        .container {
            @include transform(translateY(0));
        }
        &__wrapper {
            display: block;
            border: none;
            padding: 1.8rem 8rem 9rem;
            &-right {
                display: flex;
                justify-content: space-between;
                max-width: 100%;
                padding: 0;
                .desc {
                    margin: 0;
                    padding-top: 2rem;
                }
                .form {
                    max-width: 46rem;
                    padding-block: 0;
                }
            }
        }
        @include sm {
            &__wrapper {
                padding: 2rem;
            }
        }
    }
}
