.home {
    padding-block: var(--height-header) 22rem;
    &__welcome {
        width: 100%;
        &-title {
            max-width: fit-content;
            background-color: $yellow;
        }
        &-desc {
            max-width: 74rem;
        }
    }
}
