.rentalpage {
    .rental {
        display: grid;
        grid-template-columns: minmax(21rem, 26rem) minmax(64rem, 69rem);
        gap: 3rem;
        padding-block: var(--height-header) 18.5rem;
        .title {
            @include text(2.8rem, pneb, 3rem, $dark-title, none);
            letter-spacing: -0.4px;
        }
        &__studio {
            width: 100%;
            aspect-ratio: 26/64;
            background-color: $header-top;
            padding: 7.4rem 2rem;
            &-name {
                height: fit-content;
            }
            &-dimensions {
                padding-block: 2.6rem;
                .title {
                    font-size: 3.2rem;
                    color: $white-cl;
                    text-transform: capitalize;
                }
                .subtitle {
                    @include text(1.2rem, pnr, 3rem, $white-cl, uppercase);
                    letter-spacing: 0.32rem;
                    margin-top: 1.4rem;
                }
                .desc {
                    @include text(1.4rem, pnr, 2rem, $white-cl, none);
                    letter-spacing: 0;
                    margin-top: 0.4rem;
                }
            }
        }
        &__details {
            padding: 6.8rem 2rem 8rem;

            &-form {
                .group {
                    display: flex;
                    gap: 8rem;
                }
                .input {
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
                    @include text(1.2rem, pnr, 2rem, $main-text, none);
                    letter-spacing: 0;
                    input,
                    textarea {
                        @include text(1.2rem, pnr, 2rem, $main-text, none);
                        letter-spacing: 0;
                        width: 100%;
                        min-width: 22rem;
                        max-width: 52rem;
                        background-color: transparent;
                        outline: none;
                        border: 1px solid $black-cl;
                        padding: 0.1rem 1rem;
                    }
                    &.--line {
                        input {
                            border: none;
                            border-bottom: 1px solid $black-cl;
                        }
                    }
                    &.--box {
                        textarea {
                            height: 9rem;
                            resize: none;
                            margin-top: 2.4rem;
                            @include customscroll(3px, $white-cl, $black-line);
                        }
                        input {
                            line-height: 3.6rem;
                            margin-block: 1.5rem;
                        }
                    }
                }
                .company {
                    &__info {
                        display: flex;
                        gap: 8rem;
                        padding-block: 4rem;
                        &-box {
                            display: flex;
                            flex-direction: column;
                            gap: 2.2rem;
                        }
                    }
                }
                .booking {
                    &__details {
                        padding-block: 2.6rem 5rem;
                        &-studio {
                            .group {
                                gap: 2rem;
                                padding-block: 1.5rem 2.5rem;
                                .square.--mini {
                                    cursor: pointer;
                                    @include transition($t $cubic);
                                    ::selection {
                                        background: transparent;
                                    }
                                    &.active {
                                        background-color: $yellow;
                                        @include transition($t $cubic);
                                        .square__number {
                                            color: $main-text;
                                        }
                                    }
                                }
                            }
                        }
                        &-duration {
                            .group {
                                display: flex;
                                align-items: center;
                                gap: 3.5rem;
                                .icon {
                                    width: 1rem;
                                    height: 1.6rem;
                                }
                                .input {
                                    position: relative;
                                    input,
                                    img {
                                        cursor: pointer;
                                    }
                                    img {
                                        position: absolute;
                                        top: 50%;
                                        right: 1.2rem;
                                        width: 2.2rem;
                                        height: 2.2rem;
                                        @include transform(translateY(-50%));
                                    }
                                }
                            }
                        }
                        &-reqs {
                            .lighting {
                                p {
                                    margin-top: 0.4rem;
                                }
                            }
                            .input {
                                input,
                                textarea {
                                    width: 22rem;
                                }
                            }
                        }
                    }
                }
                .submit {
                    &__container {
                        display: flex;
                        gap: 2rem;
                        .note {
                            width: 19rem;
                        }
                        .booking_button {
                            border: none;
                            outline: none;
                            @include text(2rem, pneb, 3rem, $yellow, uppercase);
                            letter-spacing: -0.4px;
                        }
                    }
                }
            }
        }
        @include sm {
            display: flex;
            flex-direction: column;
            gap: 0;
            padding-block: calc(var(--height-header) + 2.8rem) 26rem;
            &__studio {
                width: 100%;
                aspect-ratio: initial;
                background-color: $main-bg;
                padding: 0 1rem;
                &-dimensions {
                    padding-block: 0;
                    .title {
                        color: $main-text;
                    }
                    .subtitle {
                        color: #2e2c2c;
                        line-height: 2rem;
                        margin-top: 1rem;
                    }
                    .desc {
                        color: #2e2c2c;
                        margin-top: 0;
                    }
                }

                .radio_tabs-panel {
                    display: flex;
                    gap: 2.6rem;
                }
            }
            &__details {
                padding: 3.8rem 1rem 5rem;
                &-form {
                    .input {
                        input,
                        textarea {
                            max-width: 100%;
                        }
                    }
                    .group {
                        gap: 0;
                    }
                    .company {
                        &__info {
                            flex-direction: column;
                            gap: 3rem;
                            padding-block: 2.6rem 3.8rem;
                        }
                    }
                    .booking {
                        &__details {
                            padding-block: 2.6rem 2rem;
                            &-studio {
                                .group {
                                    gap: 3rem;
                                    .square.--mini {
                                        padding-block: 0.4rem;
                                    }
                                }
                            }
                            &-reqs {
                                flex-direction: column;
                                gap: 3.5rem;
                                padding-top: 2.5rem;
                                .input {
                                    input,
                                    textarea {
                                        width: 100%;
                                    }
                                }
                            }
                            &-duration {
                                margin-top: 2.5rem;
                                .group {
                                    flex-direction: column;
                                    gap: 0;
                                    .icon {
                                        @include transform(rotate(90deg));
                                        @include transform-origin(center center);
                                    }
                                    .input {
                                        width: 100%;
                                    }
                                }
                            }
                            &-ref {
                                margin-top: 2rem;
                            }
                            &-where {
                                margin-top: 0.6rem;
                            }
                        }
                    }
                    .submit {
                        &__container {
                            .note {
                                width: 12.57rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .ui {
        &-datepicker {
            min-width: max-content;
            border: 1px solid $black-line !important;
            padding: 0.5rem;
            td {
                text-align: center;
                padding: 1.25rem 0.5rem;
                span,
                a {
                    text-align: center;
                    cursor: pointer;
                }
            }
            &-calendar {
                @include text(1.4rem, pnr, 2rem, $main-text, capitalize);
                letter-spacing: 0.1rem;
                .ui-state-default {
                    border: none;
                    background: transparent;
                }
                .ui-state-highlight {
                    color: $black-cl;
                    background: $yellow;
                }
                .ui-state-active {
                    color: $light-text;
                    background: $header-top;
                }
            }
            &-prev,
            &-next {
                top: 50%;
                width: 1.2rem;
                height: 1.2rem;
                @include transform(translateY(-50%));
                span {
                    display: block;
                    @include fullscreen();
                    margin: 0;
                }
            }
            &-prev {
                left: 0.5rem;
                .ui-icon-circle-triangle-w {
                    background-image: url(../img/arrow_left.svg);
                }
            }
            &-next {
                right: 0.5rem;
                .ui-icon-circle-triangle-e {
                    background-image: url(../img/arrow_right.svg);
                }
            }
        }
        &-widget {
            @include text(1.4rem, pnr, 2rem, $main-text, capitalize);
            &-content {
                color: $main-text;
                background: $main-bg;
                border: none;
            }
            &-header {
                color: $light-text;
                letter-spacing: 0.16rem;
                background: $header-top;
                .ui-icon {
                    background-size: cover;
                    background-position: center !important;
                }
                a {
                    cursor: pointer;
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
        &-corner-all {
            border: none;
            border-radius: 0;
        }
        @include sm {
            &-datepicker {
                position: fixed !important;
                top: var(--height-header) !important;
                left: 0 !important;
                width: 100%;
                height: 100%;
                z-index: var(--z-fixed);
            }
        }
    }
}
