.workpage {
    .work {
        padding-block: var(--height-header) 26.5rem;
        .allworks {
            padding-block: 6.2rem;
        }
        @include sm {
            padding-block: var(--height-header) 29rem;
            .allworks {
                padding-block: 0;
                &__tabs {
                    padding-block: 4rem;
                }
                &__content {
                    &-panel {
                        padding-bottom: 28.7rem;
                        .item {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
                &__booking {
                    display: flex;
                    flex-direction: column;
                    max-width: 10rem;
                    bottom: 10.7rem;
                    right: 50%;
                    @include transform(translateX(50%));
                    &-text {
                        text-align: center;
                    }
                }
            }
        }
    }
    .details {
        padding-block: var(--height-header) 26rem;
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 5.4rem;
            &-title {
                @include text(1.4rem, pnl, 2.2rem, $main-text, uppercase);
                letter-spacing: 0.32rem;
            }
            &-menu {
                display: flex;
                align-items: center;
                gap: 11rem;
            }
        }
        &__gallery {
            margin-block: 3rem 3.4rem;
            &-slider {
                .item {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 980/530;
                    overflow: hidden;
                    img {
                        @include midimg(100%);
                    }
                }
            }
        }
        &__info {
            display: flex;
            gap: 18rem;
            @include text(1.1rem, arial, 2.2rem, $main-text, none);
            letter-spacing: 0;
            &-desc {
                .desc {
                    max-width: 32rem;
                }
            }
            &-client {
                .name {
                    text-transform: capitalize;
                }
            }
            &-team {
                .about {
                    &__pos {
                        text-transform: uppercase;
                    }
                    &__name {
                        text-transform: capitalize;
                    }
                }
            }
            .title {
                @include text(1.4rem, pnl, 2.2rem, $main-text, uppercase);
                letter-spacing: 0.32rem;
                margin-bottom: 1rem;
            }
        }
        @include sm {
            padding-block: var(--height-header) 29rem;
            &__top {
                padding-top: 3rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__gallery {
                margin-block: 2rem 3.4rem;
                &-slider {
                    .item {
                        aspect-ratio: 320/173;
                    }
                }
            }
            &__info {
                flex-direction: column;
                gap: 3.6rem;
                margin-left: 1rem;
                margin-right: 1rem;
                &-desc {
                    .desc {
                        max-width: 29rem;
                    }
                }
                &-client {
                    order: -1;
                }
            }
        }
    }
}
